.container1 {
  width: 100%;
  background-color: #f3f3ea;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.1);
  position: relative;
}
.container2 {
  width: 90%;
  background-color: #333333;
  color: white;
  border-top: 5px solid #d7df23;
  top: 27%;
  left: 5%;
  position: absolute;
  display:block;
}
.container2_1 {
  background-color: #333333;
  color: black;
  border-top: 5px solid #d7df23;
  display:none;
}

.container3 {
  width: 100%
  background-color: #ffffff;
  border: 1px solid grey; 
}
.quick {
  height: 27px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}
.quick2{
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #333333;
  margin-left:42px;
  margin-top: 100px;
}
.separator{
    width: 1px;
    height: 40px;
    background-color: #b5c1c4;
    margin-top: -55px;
    margin-left: 227px;
}
.star-rating{
  margin-left:247px;
  position: absolute;
  margin-top: -38px;
}
.rating-count{
    padding: 0px 5px 0px 18px;
    font-family: 'Open Sans';
    font-size: 12px;
    display: inline-block;
    color: #333333;
}
.review-count{
    font-family: 'Open Sans';
    font-size: 12px;
    display: inline-block;
    color: #667a80;
    width: 69px;
}
.checked {
    color: #d7df23;
    font-size: 15px;
}
.unchecked {
	color: #d7df23;
  font-size: 15px;
}
.quick-button{
  background-color: #d7df23;
  font-family: Open Sans;
  font-size: 14px;
  width: 91%;
  height: 50px;
  margin: 30px 22px -17px 27px;
}

.modal-full {
  min-width: 100%;
  margin: 0;
}

.modal-full .modal-content {
  min-height: 100vh;
  background-color: #333333;
}

.modal-header {
  border-bottom: 1px solid #333333;
}

.modal-footer {
  border-top: 1px solid #333333;
}

.sampleText {
  color: white;
}

@media only screen and (max-width: 768px){
  .container2 {
    width:100%;
    left: 0%;
    top: 10%;
    display:none;
  }
  .container2_1 {
    width:100%;
    left: 0%;
    top: 10%;
    display:block;

  }
}